@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

$color-font: #f0f0f0;
$color-font-heading: #e59ec5;
$color-font-inactive: darken($color-font, 25%);

$color-interactive: #1e8d1e;
$color-interactive-hover: lighten($color-interactive, 10%);

$color-background: #22191e;
$color-background-lighter: lighten($color-background, 10%);
$color-background-light: lighten($color-background, 5%);
$color-background-dark: darken($color-background, 5%);
$color-background-darker: darken($color-background, 10%);

html {
	background-color: black;
}

body {
	height: 100vh;
	margin: 0;
	background: url('/images/stars.png') repeat fixed center;
	overflow: hidden;
}

#game-container, button, h1, h2, h3, h4, h5, h6 {
	font-family: 'VT323', monospace;
	font-size: 20px;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	color: $color-font-heading;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0 0 6px 0;
}

button {
	cursor: pointer;
	color: invert($color-font);
	background-color: $color-interactive;
	border: none;
	padding: 4px 10px;

	&:hover {
		background-color: $color-interactive-hover;
	}
}

button.inactive {
	cursor: default;
	color: $color-font-inactive;
	background: repeating-linear-gradient(
		-45deg,
		$color-background,
		$color-background 10px,
		$color-background-dark 10px,
		$color-background-dark 20px
	);
}

a {
	text-decoration: none;
	color: $color-interactive;

	&:hover {
		color: $color-interactive-hover;
	}
}

.ul-unstyled {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#mobile-notice {
	color: rgba(255, 255, 255, 0.35);
	font-style: italic;
	text-align: center;
	margin-top: 12px;
}

// Game
#game-container {
	display: flex;
	flex-direction: column;

	max-width: 810px;
	max-height: 1080px;
	margin: auto;
	box-shadow: 0 0 100px 15px rgba(0, 3, 14, 0.5);

	// Notifications
	#notifications {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: end;
		margin: 12px;
		right: 0;
		z-index: 1;

		li {
			width: fit-content;
			color: $color-font;
			background-color: $color-background-dark;
			padding: 6px 12px;
			margin-bottom: 6px;
			cursor: default;
			user-select: none;
		}
	}

	// View
	#view {
		width: 100%;
		height: 40vh;
		position: relative;
		
		background: url('/images/grass.png');
		background-repeat: repeat;
		background-color: black;

		pointer-events: none;
		user-select: none;

		.display {
			margin: 12px;
			padding: 6px 12px;
			color: $color-font;
			background-color: $color-background-darker;
			width: fit-content;
		}

		#location-display {
			position: absolute;
			bottom: 0;
		}

		#player {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-30px) translateY(-45px);
		}
	}

	// Controls
	#controls {
		width: 100%;
		height: 60vh;

		display: flex;
		flex-direction: column;

		color: $color-font;
		background-color: $color-background;

		#control-tabs {
			display: flex;
			flex-wrap: wrap;

			padding: 12px 12px 6px 12px;
			background-color: $color-background-dark;

			.tab-button {
				cursor: pointer;
				color: $color-interactive;
				border: 2px solid $color-interactive;
				margin-bottom: 6px;
				padding: 2px 10px;
				text-transform: uppercase;

				&:not(:last-child) {
					margin-right: 12px;
				}

				&:hover {
					background-color: rgba($color-interactive-hover, 0.2);
				}
			}
		
			.tab-button.active {
				cursor: default;
				color: $color-font;
				background-color: $color-interactive;
			}
		}

		#control-content {
			overflow: auto;
			padding: 12px;

			.tab-content {
				display: none;
			}
		
			.tab-content.active {
				display: block;
			}

			.control-section:not(:empty) {
				background-color: $color-background-light;
				padding: 6px 12px;

				&:not(:last-child) {
					margin-bottom: 12px;
				}
			}

			#log-list {
				list-style-type: none;
				margin: 0;
				padding: 0;

				li {
					padding: 3px 6px;
				}

				li:nth-child(odd) {
					background-color: $color-background-light;
				}
			}
		}
	}
}

// Landscape mobile view
@media only screen and (max-device-width: 1080px) and (orientation: landscape) {
	#game-container {
		flex-direction: row;
		max-width: 1080px;
		max-height: 810px;
		height: 100vh;

		#notifications {
			right: 50%;
		}

		#view, #controls {
			height: auto;
		}
	}
}