@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
	margin: 0;
	background-color: black;
}

body, button {
	font-family: 'VT323', monospace;
	font-size: 20px;
}

button {
	cursor: pointer;
	color: black;
	background-color: green;
	border: none;
	padding: 4px 10px;

	&:hover {
		background-color: lightgreen;
	}
}

a {
	text-decoration: none;
	color: green;

	&:hover {
		color: lightgreen;
	}
}

// Game
#game-container {
	display: flex;
	flex-direction: column;
}

// Notifications
#notifications {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: end;
	list-style-type: none;
	margin: 12px;
	padding: 0;
	right: 0;
	z-index: 1;

	li {
		width: fit-content;
		color: white;
		background-color: black;
		padding: 6px 12px;
		margin-bottom: 6px;
		cursor: default;
		user-select: none;
	}
}

// View
#view {
	width: 100%;
	height: 40vh;
	position: relative;
	
	background: url('/images/grass.png');
	background-repeat: repeat;
	background-color: black;

	pointer-events: none;
	user-select: none;

	.display {
		margin: 12px;
		padding: 6px 12px;
		color: white;
		background-color: black;
		width: fit-content;
	}

	#location-display {
		position: absolute;
		bottom: 0;
	}

	#player {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-30px) translateY(-45px);
	}
}

// Controls
#controls {
	width: 100%;
	height: 60vh;

	color: white;
	background-color: rgb(30, 30, 34);

	#control-tabs {
		display: flex;
		flex-wrap: wrap;

		padding: 12px 12px 6px 12px;
		background-color: rgb(14, 14, 22);

		.tab-button {
			cursor: pointer;
			color: green;
			background-color: rgb(14, 14, 22);
			border: 2px solid green;
			margin-bottom: 6px;
			padding: 2px 10px;
			text-transform: uppercase;

			&:not(:last-child) {
				margin-right: 12px;
			}

			&:hover {
				background-color: rgb(6, 48, 6);
			}
		}
	
		.tab-button.active {
			cursor: default;
			color: white;
			background-color: green;
		}
	}

	#control-content {
		padding: 12px;

		.tab-content {
			display: none;
		}
	
		.tab-content.active {
			display: block;
		}

		#actions {
			.action-container:not(:empty) {
				background-color: rgb(39, 39, 43);
				padding: 12px;
		
				&:not(:last-child) {
					margin-bottom: 16px;
				}
			}
		}
	
		#log-list {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				padding: 3px 6px;
			}

			li:nth-child(odd) {
				background-color: rgb(39, 39, 43);
			}
		}
	}
}