@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
	margin: 0;
	display: flex;
	flex-direction: column;
}

body, button {
	font-family: 'VT323', monospace;
	font-size: 20px;
}

button {
	cursor: pointer;
	background: green;
	border: none;
}


#view {
	width: 100%;
	height: 40vh;
	
	color: green;
	background-color: black;

	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

#controls {
	width: 100%;
	height: 60vh;

	color: white;
	background-color: rgb(30, 30, 34);


	#tabs {
		padding: 12px;
		background-color: rgb(14, 14, 22);

		.tab-button {
			cursor: pointer;
			color: green;
			border: 2px solid green;
			border-radius: 5px;
			padding: 2px 10px;

			&:not(:last-child) {
				margin-right: 4px;
			}
		}
	
		.tab-button.active {
			background-color: rgb(30, 30, 34);
		}
	}

	#content {
		padding: 12px;

		.tab-content {
			display: none;
		}
	
		.tab-content.active {
			display: block;
		}
	}

	#log ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}